@page
@model KeyVaultEditor.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<form asp-page-handler="GotoEdit" method="post">
   <label>Enter Vault url
   <input type="text" name="url"/></label>
   <button>Goto Edit</button>
</form>